/* 
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#copo{
    width: 85%;
    position: fixed;
    top: 10%;
    left: 8%;
} */

#circulo1{
    width: 1300px;
    height: 1300px;
    border-radius: 100%;
    position: fixed;
    top: -8%;
    left: -40%;
    background: rgba(0, 112, 66, 0.24);
}
#circulo2{
    width: 1400px;
    height: 1400px;
    border-radius: 100%;
    position: fixed;
    top: -29%;
    right: -40%;
    background: rgba(0, 112, 66, 0.24);
}

#copo{
    width: 1000px;
    height: 1000px;
    top: 9%;
    left: 10%;
    position: fixed;
    z-index: 2;
}

#imgCopo{
    width: 87%;
    position: relative;
}

#grao1{
    width: 60%;
    position: fixed;
    top: 0%;
    left: 1%;
    z-index: 1;
}

#grao2{
    width: 60%;
    position: fixed;
    left: 35%;
    top: 27%;
    transform: rotate(90deg);
    z-index: 1;
}

@font-face {
    font-family:'poppinsMedium';
    src:url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family:'poppinsRegular';
    src:url("../fonts/Poppins-Regular.ttf");
}


.container{
    width: auto;
    height: 1200px;
    /* background-color: blue; */
}

input{
    width: 322px;
}
.textos{
    text-align: center;
    /* background-color: brown; */
    margin-top: -12%;
}

h1{
    font-size: 95px;
    font-family:poppinsMedium;
}

h2{
    margin-top: -80px;
    font-size: 60px;
    font-family:poppinsRegular;
}

input{
    width: 100%;
    height: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #555555;
}

label{
    font-size: 50px;
    font-family:poppinsRegular;
    color: #555555;
}

form{
    padding-left: 84px;
    padding-right: 84px;
    width: 800px;
    
}

.space{
    margin-top: 60px;
}

p{
    font-size: 30px;
    font-family:poppinsRegular;
    color: #007042;
}

button{
    width: 600px;
    height: 110px;
    font-size: 40px;
    font-family:poppinsRegular;
    border-radius: 50px;
    color: #F8F8F8;
    background-color: #007042;

}

.botao{
    margin-top: 100px;
    text-align: center
}